@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

header {
    margin: 0;
}

body {
    font-family: Raleway;
}

/* Navbar Customisations */

h1 {
    font-family: "PT-Serif";
    font-size: 340%;
    letter-spacing: 4px;
    color: white;
}

.navbar a {
    text-decoration: none;
}

.navbar-nav {
    padding-top: 4rem;
}

.nav-item {
    padding-right: 2rem;
    font-size: 120%;
    letter-spacing: 2px;
}

.navbar-toggler {
    border:0px;
}



/* Landing Image */

.callout-container {
    height: 100vh;
    background: url(../images/Ishiguro-scaled3.jpg) no-repeat center center fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    position: relative;
}

.fa-chevron-down {
    color: white;
    font-size: 50px;
    position: relative;
    left: 48%;
    top: 48%;
    
}
.jumbotron {
    margin-bottom: 0;
    background-color: lightgray;
}
.new-book-container {
    background-color: #78afae;
}

.new-book {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.klara-text {
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}

.order-button {
    padding-bottom: 2rem;
}

/* footer customisations */

footer {
    background-color: #343a40;
    color: white;
}


.footer-content {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

.fa-envelope {
    margin-right: 6px;
    margin-left: 8px;
}

.form-control {
    margin-right: 4px;
}

.social-links li a i {
    font-size: 30px;
    color: white;
    margin-right: 20px;
    padding-top: 2rem;
}

.disclaimer {
    padding-top: 2rem;
}